<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

    <link rel='stylesheet' href="style.css" />
  </head>

  <body>

    <!-- Modal -->
    <div class="modalContainer">
      <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Details</h2>
      </div>
      <div class="modal-body">
        <div id = "ingredients"></div>
        <div id = "price"></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

    <!-- header -->
    <% include header.ejs %>

    <!-- Menu -->
    <div class="menu-container">
    </div>

    <!-- footer -->
    <% include footer.ejs %>

    <script>

    var menu = [];
    var quantity = [];
    $.ajax({
      url: "http://localhost:3000/menu/",
      type: "GET",
      success:(function(e){
        menu = e;
        // console.log(menu)
        // Select menu Container
        var menuContainer = $('.menu-container');

        // Loop through menu in database
        for (var i = 0; i < menu.length; i++){

            var item = menu[i];

            // Create menu item with title and menu id
            var container = $('<div/>').addClass('menu-item');

            var title = $('<div/>').addClass('title').html(item.title);
            var itemEle = $('<div/>')
                          .addClass('item')
                          .attr("id", `menu-${i}`);

            // insert image
            var image = $('<img/>').attr("src", item.img).attr("data-imgindex", i);
            itemEle.append(image);

            var button = $('<button/>').addClass("button").addClass("button" + i).html("Add to Cart");

            container.append(title).append(itemEle).append(button.clone());

            menuContainer.append(container);
        }

        // Create modal
        var modalContainer = $('.modalContainer');

        // console.log(menu)
        $('.menu-item .item img').on('click', function(e){
          // get index of item

          var index = parseInt($(this).attr("data-imgindex"));
          var item = menu[index];


          $("#ingredients").html(`Ingredients: ${item.ingredients}`);
          $("#price").html(`Price: \$${item.price}`);

          modalContainer.css("display","block");
        })


      })
    });


      //update with user quantity
      if (<%=bool%> === false){
          // maintain cart quantity
          $.ajax({
            url: "http://localhost:3000/cart",
            type: "GET",
            success: (function(e){
              menu = e;
              var c = 0;
              for (var i = 0; i < menu.length; i++){
                var item = menu[i];
                c += parseInt(item["quantity"]);
              }
              cart.innerHTML = "Cart (" + c + ")";
            })
          });

      } else{

        $.ajax({
          url: "http://localhost:3000/users/current/" + "<%= user._id %>",
          type: "PATCH",
          success: (function(e){
            console.log(e)
            var userinfo = e;
            var c = 0;
            c += userinfo.one;
            c += userinfo.two;
            c += userinfo.three;
            c += userinfo.four;
            cart.innerHTML = "Cart (" + c + ")";

            $.ajax({
              url: "http://localhost:3000/cart",
              type: "GET",
              success: function(e){
                x = [];
                x.push(userinfo.one);
                x.push(userinfo.two);
                x.push(userinfo.three);
                x.push(userinfo.four);
                for(var i = 0; i < e.length; i++){
                    $.ajax({
                        url: "http://localhost:3000/cart/" + e[i]["_id"],
                        type: "PATCH",
                        data: {quantity: x[i]}
                    });
                }
              }
            })
          })
        });
      }


      // EVENT DELEGATION

      // $('.modalContainer').on('click', window, function(e){
      //   $('.modalContainer').css("display","none");
      // });

      // close modal when close button
      $('.modalContainer').on('click', '.close', function(e){
        $('.modalContainer').css("display","none");
      });


      // add to cart button click event
      $('.menu-container').on('click', ".button", function(e){


        var button = $(this);

        // increment current number
        var cartNo = $('#cart').html();
        var length = cartNo.length - 1;
        var cartNumber = parseInt(cartNo.slice(6, length));

        cartNumber++;

        $("#cart").html("Cart (" + cartNumber + ")");

        // get index of item
        var str = $(this).attr("class");
        var index = parseInt(str.slice(13, str.length));

        $.ajax({
          url: "http://localhost:3000/cart/",
          type: "GET",
          success: function(e){
            cart = e;

            var link = "http://localhost:3000/cart/" + cart[index]["_id"];

            console.log(cart[index])
            var quantity = ++cart[index]["quantity"];

            console.log(cart)

            // update quantity of clicked item in cart
            $.ajax({
              url: link,
              type:"PATCH",
              data:{"quantity":quantity}
            });
          }

        });

        if (<%= bool%> === false){
          console.log("false");
        } else{
          $.ajax({
            url: "http://localhost:3000/users/current/" + "<%=user._id%>",
            type: "PATCH",
            success: function(e){
              x = [];
              x.push(e.one);
              x.push(e.two);
              x.push(e.three);
              x.push(e.four);

              var links = "http://localhost:3000/users/" + "<%=user._id%>";

              x[index] = ++x[index];

              $.ajax({
                  url: links,
                  type: "PATCH",
                  data: {"one": x[0],
                        "two": x[1],
                        "three": x[2],
                        "four": x[3]}
              });
            }
          });
        }

      });

    </script>
  </body>
</html>
